{
  "DB": "DB_CONNECTION_URL",
  "NODE_ENV": "dev",
  "AWS_SECRETKEY": "AWS_SECRETKEY",
  "AWS_ACCESSKEY": "AWS_ACCESSKEY",
  "AWS_REGION": "AWS_REGION",
  "AWS_BUCKET": "user-posts",
  "AWS_DIRECTORY_PATH": "attachments/"
}