{
  "DB": "DB_CONNECTION_URL",
  "NODE_ENV": "dev",
  "AWS_SECRETKEY": "AWS_SECRETKEY",
  "AWS_ACCESSKEY": "AWS_ACCESSKEY",
  "AWS_REGION_NAME": "AWS_REGION_NAME",
  "AWS_BUCKET_NAME": "user-posts",
  "AWS_DIRECTORY_PATH": "attachments/"
}